body {
background-color: #AEC6CF;
}
AEC6CF
h1 {
color:black;
font-size:300%;
font-style:nyala;
}

p {
color:black;
padding:10px;
margin:20px;
font-style:roman;
}

body {

}

img {
border:10px groove;

}